* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #025251;
}

/* Upper */
#upper {
  width: 100%;
  height: 40vh;
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

#upper p {
  color: #117a7a;
  font-size: 2em;
  width: 200px;
  margin: 0 2em;
  animation: me 2s forwards 0s linear;
}

/* Navbar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.brand-title {
  font-size: 2.5rem;
  margin: 1rem 2rem;
  color: transparent;
  color: #fff;
  background: #add;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);

}

.navbar-links {
  height: 100%;
  font-size: 1rem;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  transition: all .5s;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #afffff;
  padding: 1.2rem;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: all 1s;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Main section styling */
#main h1 {
  font-size: 4rem;
  text-align: center;
  color: transparent;
  color: #000;
  background: #0f0000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 1px 1px #afffff;
}

/* Images */
.images {
  display: flex;
  flex-direction: column;
}

.images .first,
.second {
  margin: 20px;
}

.images .first,
.second {
  display: flex;
  flex-direction: column;
}
.images .first img,
.second img{
 border: 10px inset #333;
}
.images .first img:nth-child(1),
.second img:nth-child(1) {
  z-index: 3;
}

.images .first img:nth-child(2),
.second img:nth-child(2) {
  z-index: 2;
}

.images .first img:nth-child(3),
.second img:nth-child(3) {
  z-index: 1;
}

.images .first img:nth-child(2),
.second img:nth-child(2) {
  margin: 0 17%;
  transform: translatey(-50%);
}
.images .first img:nth-of-type(3),
.second img:nth-of-type(3) {
  margin: 0 34%;
  transform: translateY(-100%);
}
img:hover{
  z-index: 3;
}