* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/* animations */
@keyframes me {
  0% {
    opacity: 0;
    color: #000;
  }

  100% {
    transform: rotate();
    opacity: 1;
    color: #117a71;
  }
}

@keyframes title {
  0% {
    transform: rotate(0) translateX(-30rem);
  }

  65% {
    transform: rotate(0);
  }

  81% {
    transform: rotate(0) translateX(-1rem);
  }

  100% {
    transform: rotate(0);
  }
}

/* body */
body {
  background-color: #025252;
}

/* Upper */
#upper {
  width: 100%;
  height: 40vh;
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

#upper p {
  color: #117a7a;
  font-size: 2em;
  width: 200px;
  margin: 0 2em;
  animation: me 2s forwards 0s linear;
}

/* Navbar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.brand-title {
  font-size: 2.5rem;
  margin: 1rem 2rem;
  color: transparent;
  color: #fff;
  animation: title 1s;
  background: #add;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);

}

.navbar-links {
  height: 100%;
  font-size: 1rem;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  transition: all .5s;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #afffff;
  padding: 1.2rem;
  transition: all 1s;
}

.navbar-links li a:hover {
  background-color: #002727;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: all 1s;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Main */
.container {
  max-width: 800px;
  width: 800px;
  height: 30em;
  margin: auto;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #CECECE;
  background: -moz-radial-gradient(center, #CECECE 0%, #FFFFFF 72%, #59C5C0 100%);
  background: -webkit-radial-gradient(center, #CECECE 0%, #FFFFFF 72%, #59C5C0 100%);
  background: radial-gradient(ellipse at center, #CECECE 0%, #FFFFFF 72%, #59C5C0 100%);
  -webkit-border-radius: 40px 6px 40px 6px;
  -moz-border-radius: 40px 6px 40px 6px;
  border-radius: 40px 6px 40px 6px;
}

.container .text {
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: transparent;
  color: #000;
  background: #0f0000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 1px 1px #ddd;
}

.container form {
  padding: 30px 0 0 0;
}

.container form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  font-family: sans-serif;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 1s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
  transform: scale(1);
}

.submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 25% !important;
  background-color: #022727;
  border-radius: 20px;
}

.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
  left: 0;
}

.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 800px) {
  * {
    font-size: 1em;
  }

  .navbar {
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    border: 2px solid;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .container{
    width: 400px;
  }
  .container .text {
    font-size: 30px;
  }

  .container form {
    padding: 10px 0 0 0;
  }

  .container form .form-row {
    display: block;
  }

  form .form-row .input-data {
    margin: 35px 0 !important;
  }

  .submit-btn .input-data {
    width: 40% !important;
  }
}