*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* animations */
@keyframes me {
  0% {
    opacity: 0;
    color: #000;
  }

  100% {
    transform: rotate(xx);
    opacity: 1;
    color: #117a71;
  }
}
@keyframes title {
  0% {
    transform: rotate(0) translateX(-30rem);
  }

  65% {
    transform: rotate(0);
  }

  81% {
    transform: rotate(0) translateX(-1rem);
  }

  100% {
    transform: rotate(0);
  }
}
/* Body */
body{
  background-color: #025252;
}
/* Upper */
#upper{
  width: 100%;
  height: 40vh;
  background-color: #000;
  clip-path: polygon(0 0,100% 0,100% 70%,0 100%);
  }
#upper p{
  color: #117a7a;
  font-size: 2em;
  width: 200px;
  margin: 0 2em;
  animation: me 2s forwards 0s linear;
}

/* Navbar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}

.brand-title {
  font-size: 2.5rem;
  margin: 1rem 2rem;
  animation: title 1s;
  color: transparent;
  color: #fff;
  background: #add;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 1px 4px 4px rgba(252, 248, 248, 0.5);

}
.navbar-links {
  height: 100%;
  font-size: 1rem;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  transition: all .5s;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #afffff;
  padding: 1.2rem;
  transition: all 1s;
}
.navbar-links li a:hover{
  background-color: #002727;
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: all 1s;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
/* Main */
.welcome{
  display: flex;
  justify-content: space-around;
}
.welcome h1{
  font-size: 4rem;
  width: 500px;
  margin: 1rem 2rem;
  color: transparent;
  color: #000;
  background: #0f0000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 1px 1px #afffff;
}
.welcome img{
  margin: 0 1em;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: translateY(-2em);
}
.changer{
  display: flex;
  flex-direction: column;
}
#main .tell{
  margin: auto;
  font-size: 2em;
  padding: 1em;
  width: 50%;
  height: 5em;
  color: #fff;
  text-align: center;
 clip-path: polygon(0% 0%, 100% 0%, 95% 80%, 60% 60%, 49% 100%, 37% 61%, 3% 80%);
 background-color: #111111;
 animation: tell 2s forwards 4s linear;
}
#main a{
  font-size: 5em;
  padding: .5em;
  margin: auto;
  color: #000;
}



@media (max-width: 800px) {
  *{
    font-size: 1em;
  }
  .navbar {
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    border: 2px solid;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .welcome img{
    height: 200px;
    width: 200px;
  }
}